/*! styleguide:ignore:start */
@import '../../styles/variables';
/*! styleguide:ignore:end */

/*!
// Mockup object
//
// An element that might be part of mockup
//
// .MockupObject - common object
// .MockupObject.MockupObject--selected - selected object
// 
// markup:
//   <div class="{$modifiers}">
//     Object content
//   </div>
//
// sg-wrapper:
// <div style="min-height: 20px;">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.6
*/
.MockupObject {
  position: absolute;

  &:hover {
    outline: 1px dashed $color__border;
    cursor: pointer;
  }

  &--selected {
    &, &:hover {
      outline: $border__select;
      border-color: transparent;
    }
  }
}