@import '../../styles/variables';

.MockupObject {
  position: absolute;

  &:hover {
    outline: 1px dashed $color__border;
    cursor: pointer;
  }

  &--selected {
    &, &:hover {
      outline: 8px dashed $color__secondary;
      border-color: transparent;
    }
  }
}