.btn {
	display: inline-block;
	color: $color__secondary;
	border: 1px solid $color__secondary;
	border-radius: $border-radius;
	padding: 0.8em;
	cursor: pointer;
	user-select: none;
	transition: none;

	i {
		margin-right: 0.5em;
	}

	&:hover, &:active {
		color: $color__background;
	}

	&:hover {
		background: $color__secondary;
	}

	&:active {
		background: darken($color__secondary, 10%);
	}

	&--dropbox {
		color: $color__dropbox;

		&, &:hover, &:active {
			border-color: $color__dropbox;
		}

		&:hover {
			background: $color__dropbox;
			color: $color__background;
		}

		&:active {
			background: darken($color__dropbox, 10%);
		}
	}
}