@import "variables";

.font--general {
  font-size: 18px;
  color: $color__root;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body, html {
  background-color: $color__background;
  @extend .font--general;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/*!
// Headings
//
// Headings used across application
//
// markup:
// <h2>Heading 2</h2>
// <p>Mauris feugiat suscipit turpis, ut rhoncus lectus finibus sed. Etiam suscipit consectetur eros vitae venenatis.</p>
//
// Styleguide 1.2
*/
h1 {
  font-size: $font_size__header1;
}

h2 {
  font-size: $font_size__header2;
}

h1, h2 {
  font-weight: 300;
  margin-bottom: 0.2em;
}

a {
  transition: color 0.2s ease-in,
        border-color 0.2s ease-in;

  &, &:hover, &:focus, &:active {
    color: $color__root;
    text-decoration: none;
    border-bottom: 1px solid lighten($color__root, 50%);
  }

  &:hover {
    color: $color__secondary;
    border-color: lighten($color__secondary, 20%);
    transition: none;
  }
}

p {
  margin: 0 0 10px;
}

@import "buttons";
@import "states";