$color__root: #444;
$color__secondary: #FF0085;
$color__background: white;
$color__background_checker: #eee;
$color__border: gray;
$color__shade: rgba(150,150,150,1);
$color__dropbox: #007ee5;

$border-radius: 5px;

$font_size__header: 1.5rem;

$restrict__file_list: 500px;

$z_max: 999;