/*! styleguide:ignore:start */
@import '../../styles/variables';
/*! styleguide:ignore:end */

/*!
// Navigation
//
// Main navigation menu
//
// markup:
// <nav class="Nav">
//   <div class="Nav__Item Nav__Item--prior">
//    This nav item occupies as much space as possible
//   </div>
//   <ul class="Nav__Item">
//     <li class="Nav__Item">
//       <a href="#">Some list item</a>
//     </li>
//   </ul>
//  </nav>
//
// Styleguide 3.1
*/
.Nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: $color__background;
  box-shadow: 0px 3px 5px 0px $color__shade;

  &__Item {
    display: inline-block;
    vertical-align: middle;
    flex-grow: 0;

    &--prior {
      flex-grow: 1;
    }
  }

  &__Item + &__Item {
    margin-left: 1rem;
  }

  &__Mockup_Name {
    margin: 0;
  }
}

.Content {
  padding: 1em 2em;
}
