/*! styleguide:ignore:start */
@import '../../styles/variables';
/*! styleguide:ignore:end */

/*!
// Logo
//
// Logotypes of the site
//
// .Logo.Logo--small - small logotype
// .Logo.Logo--big - big logotype
// 
// markup:
//   <div class="{$modifiers}">
//     <a href="/#/">
//       <i class="fa fa-puzzle-piece Logo__Figure"></i>
//       <div class="Logo__Label">UI Kit Mockups</div>
//     </a>
//   </div>
//
// sg-wrapper:
// <div class="is-centered">
//   <sg-wrapper-content/>
// </div>
//
// Styleguide 3.3
*/
.Logo {
  &__Figure {
    transform: rotate(45deg);
  }

  a {
    &, &:active, &:focus, &:hover {
      border: none;
    }
  }
}

.Logo.Logo--small {
  font-size: 1.5rem;

  .Logo__Label {
    margin-left: 0.5em;
    display: inline;
  }

  .Logo__Figure {
    color: $color__background;

    &:after {
      content: "";
      position: absolute;
      top: -3px;
      left: -4px;
      width: 1.1em;
      height: 1.1em;
      background-color: $color__secondary;
      border-radius: 0.5rem;
      z-index: -1;
    }
  }
}

.Logo.Logo--big {
  .Logo__Label,
  .Logo__Figure {
    color: $color__secondary;
  }

  .Logo__Label {
    font-size: 2em;
    margin: 0.2em 0.5em;
  }

  .Logo__Figure {
    font-size: 4em;
  }
}