@import '../../styles/variables';

.FileList {
  &__Wrapper {
    max-height: $restrict__file_list;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 1em;
  }

  &__Level {
    margin-left: 1em;
  }

  &__Preview {
    margin-right: 0.3em;
  }

  &__Node {
    cursor: pointer;
    margin: 0.5em 0;
  }

  &__Header {
    margin: 0;
  }

  &__Label {
    white-space: nowrap;
    &:hover {
      color: $color__secondary;
    }
  }
}