@import "variables";

.MockupEdit {
	// Checker board background
	// Credits: http://lea.verou.me/css3patterns/#checkerboard
	background-color: $color__background;
	background-image: linear-gradient(45deg, $color__background_checker 25%, transparent 25%, transparent 75%, $color__background_checker 75%, $color__background_checker), 
	linear-gradient(45deg, $color__background_checker 25%, transparent 25%, transparent 75%, $color__background_checker 75%, $color__background_checker);
	background-size:30px 30px;
	background-position:0 0, 15px 15px
}